<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">Marker Clustering</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>
                    </li>



                    <li class="nav-item">
                        <a href="#About" class="nav-link smoothScroll">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="#Example" class="nav-link smoothScroll">Example</a>
                    </li>


                </ul>


            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

        <div class="bg-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="hero-text mt-5 text-center">

                        <h6 data-aos="fade-up" data-aos-delay="300">Angular google maps!</h6>

                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Agm Marker Cluster</h1>

                        <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>

                        <a href="https://angular-maps.com/api-docs/markerclusterer/directives/agmmarkercluster#info" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="feature" id="feature">
        <div class="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Directives AgmMarkerCluster ?</h2>

                    <h6 class="mb-4 text-white" data-aos="fade-up">Angular 2+ components for Google Maps. (Previously known as angular2-google-maps))</h6>

                    <p data-aos="fade-up" data-aos-delay="200">This project shows you how to use marker clusters to display a large number of markers on a map. You can use the AgmMarkerClusterer Module in combination with the Maps JavaScript API to combine markers of close proximity into clusters,
                        and simplify the display of markers on the map.
                    </p>

                    <a href="https://www.npmjs.com/package/@agm/markerclusterer?activeTab=readme" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm">Installation NPM</a>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <div class="about-working-hours">
                        <div>

                            <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Installation</h2>

                            <strong class="d-block" data-aos="fade-up" data-aos-delay="600">npm install @agm/core</strong>

                            <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">npm install @google/markerclustererplus @agm/js-marker-clusterer --save</strong>

                            <p data-aos="fade-up" data-aos-delay="800">Ou</p>

                            <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">yarn add @google/markerclustererplus @agm/js-marker-clusterer
                            </strong>

                            <p data-aos="fade-up" data-aos-delay="800">@agm/js-marker-clusterer has a peer depedency on markerclustererplus</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>



    <!-- CLASS -->
    <section class="class section" id="About">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-5">
                    <h6 data-aos="fade-up">About</h6>

                    <h2 data-aos="fade-up" data-aos-delay="200">Angular google maps MarkerCluster</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="class-thumb">
                        <img src="https://i.stack.imgur.com/xsIeP.png" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Inputs</h3>

                            <span><strong>14</strong> Inputs</span>

                            <span class="class-price">14</span>

                            <p class="mt-3">averageCenter, calculator, clusterClass, enableRetinaIcons, gridSize, ignoreHidden, imageExtension,, imagePath, imageSizes, maxZoom, minimumClusterSize, styles, title, zoomOnClick
                            </p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <div class="class-thumb">
                        <img src="https://i.stack.imgur.com/xsIeP.png" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">The number on a cluster </h3>




                            <p class="mt-3">The number on a cluster indicates how many markers it contains. Notice that as you zoom into any of the cluster locations, the number on the cluster decreases, and you begin to see the individual markers on the map. Zooming
                                out of the map consolidates the markers into clusters again.</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="class-thumb">
                        <img src="https://i.stack.imgur.com/xsIeP.png" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">MarkerClustererPlus library</h3>



                            <p class="mt-3">The MarkerClustererPlus library uses the grid-based clustering technique that divides the map into squares of a certain size (the size changes at each zoom level), and groups the markers into each square grid. It creates a
                                cluster at a particular marker, and adds markers that are in its bounds to the cluster. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- SCHEDULE -->
    <section class="schedule section" id="Example">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h6 data-aos="fade-up">See how marker clustering works</h6>

                    <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">View the map below</h2>
                </div>

                <div class="col-lg-12 py-5 col-md-12 col-12">
                    <div data-aos="fade-up" data-aos-delay="300">
                        <agm-map style="height: 400px" [zoom]="zoom" [latitude]="-31.56391" [longitude]="147.154312">
                            <agm-marker-cluster [calculator]="calculateFunction" [styles]="clusterStyles" [minimumClusterSize]="clusterOptions.minimumClusterSize" [gridSize]="clusterOptions.gridSize" [averageCenter]="clusterOptions.averageCenter">
                                <agm-marker *ngFor="let item of markers" [latitude]="item.lat" [longitude]="item.lng">
                                </agm-marker>

                            </agm-marker-cluster>
                        </agm-map>
                    </div>

                </div>

            </div>
        </div>
    </section>





    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="ml-auto col-lg-4 col-md-5">
                    <p class="copyright-text">Copyright &copy; 2021 Issam BK- Design</p>
                </div>

                <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                    <p class="mr-4">
                        <i class="fa fa-envelope-o mr-1"></i>
                        <a href="#">issambenkaroum95@gmail.com</a>
                    </p>

                </div>

            </div>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>

                <div class="modal-body">
                    <iframe src="https://angular-maps.com/api-docs/markerclusterer/directives/agmmarkercluster#infos" frameborder="0"></iframe>
                </div>

                <div class="modal-footer"></div>

            </div>
        </div>
    </div>
</body>